* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --header-color: #d8d4f34d;
  --footer-color: #2322f7;

}
body {
  height: 100vh;
  width: 100%;
  background-color: var(--header-color);
  color: white;
}
header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-color);
}
#day-date {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin: 13px 65px 5px 45px;
  font-size: 1.5rem;
}
#today{
 margin:-14px 0px 29px 14px;
}
#heading-of-todos {
  font-size: 3rem;
  padding-top: 23px;
}
#heading-of-todos i {
  padding: 23px;
}

#addToDo:hover {
  color: var(--footer-color);
}
.note {
  display: flex;
  font-size: 1.4rem;
  margin: 13px 3px 4px 443px;
}
.note input[type="text"] {
  background-color:transparent; 
  outline:none;
  border:none;
  border:2px solid dodgerblue;
 
 
 }
 input[type="text"]:focus{
 border-color:dodgerblue;
 box-shadow:0 0 8px 0 dodgerblue;
 transition:0.2s;
 }
.inputToDo {
  height: 35px;
  width: 500px;
  padding: 13px;
  border-radius: 6px;
margin:0 0 0 -200px ;
justify-content: center;
align-items: center;
  position: relative;
}
button {
  height: 35px;
  width: 45px;
  margin-left: 4px;
  border-radius: 6px;
  font-size: 24px;
  display: absolute;
  transition: all 0.2s ease-in;
   outline: none;
   border:none;
box-shadow:0 0 8px 0;
 
}
button:hover{
  border-color:initial;
box-shadow:0 0 8px 0 dodgerblue;
transition:0.2s;
}
.deleteToDo {
  color: red;
  align-items: center;
}
.editToDo {
  color: green;
  align-items: center;
}
.deleteToDo:hover {
  color: white;
  background-color: red;
}
.editToDo:hover {
  color: white;
  background-color: green;
}

@media (max-width: 1060px) {
  body {
    height: 100vh;
    width: 100%;
  
  }
  header {
    height: 150px;
  }
  #day-date {
    font-size: 24px;
    margin: 5px 94px 5px 15px;
  }
  .note {
    position: relative;
    display: inline-flex;
    margin: 23px 2px 3px 144px;
  }
  .note > input {
    margin: 0 0 0 90px;
  }
}
@media (max-width: 710px) {
  body {
    height: 100vh;
    width: 100%;
  
  }
  header {
    width: 100%;
  }
  #day-date {
    font-size: 1.2em;
    margin: 13px 103px 0px 24px;
  }

  #heading-of-todos {
    font-size: 1.9rem;
    margin: 13px 6px 13px 13px;
  }
  .note > input {
    height: 30px;
    width: 350px;
    margin: 0 2px 3px -15px;
  }
  button {
    height: 30px;
    width: 31px;
  }
}

@media (max-width: 580px) {
  body {
    height: 100vh;
    width: 100%;

  }
  header {
    width: 100%;
  }
  #day-date {
    font-size: 1em;
    margin: 23px 3px 4px -24px;
  }

  #heading-of-todos {
    padding:20px 0 4px 5px;
    font-size: 1.5rem;
    margin: 13px 6px 13px 3px;
  }

  .note > input {
    height: 30px;
    width: 250px;
    margin: 0 0 0 -130px;
  }
  button {
    height: 22px;
    width: 25px;
    font-size:0.8rem;
    align-items:center;
    justify-content:center;
    font-weight:bolder;
    padding:auto;
    margin:4px 2px 2px 2px;
  }
  
}
@media(max-width:350px){
  header {
    width: 340px;
  }
}