* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --header-color: #d8d4f34d;
  --footer-color: #2322f7;
}
body {
  height: 100vh;
  width: 100%;
  background-color: var(--header-color);
  color: white;
}
header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-color);
}
/* heading */
#heading-of-todos {
  font-size: 3rem;
  padding-top: 2rem;
}
#heading-of-todos i {
  padding: 2rem;
}
/* time or date */
#day-date {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: auto;
  font-size: 1.5rem;
}
#today {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: -1rem 15rem 2rem 1rem;
}
/* add button */
#addToDo {
  position: relative;
  height: 2rem;
  width: 4rem;
  box-shadow: none;
  color: white;
  background-color: var(--footer-color);
  font-size: 1.3rem;
}

#addToDo:hover {
  color: white;
  font-size: 1.6rem;
}
.alert {
  position: relative;
  height: 10rem;
  width: 10rem;
  display: block;
  margin: 0 auto;
  border: 0.1rem solid black;
  color: black;
  font-size: bolder;
  padding: 2rem;
  color: red;
  background-color: #b5b5b5;
  border-radius: 1rem;
}
.okButton {
  background-color: blue;
  margin: 2rem auto;
  width: 5rem;
  color: white;
}

/* inpu button */

.inputContainer {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
}

.inputContainer input[type="text"] {
  background-color: transparent;
  outline: none;
  border: 2px solid dodgerblue;
  padding: 0.9rem;
  border-radius: 0.2rem;
  height: 2.2rem;
  width: 25rem;
  margin-top: 2rem;
}
input[type="text"]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
  transition: 0.2s;
}
/* btton set */
button {
  height: 1.9rem;
  width: 2.2rem;
  border-radius: 6px;
  font-size: 1.3rem;
  transition: all 0.2s ease-in;
  outline: none;
  border: none;
  box-shadow: 1px 1px 3px 0 black, -1px -1px 3px 0 white;
}
button:hover {
  border-color: initial;
  box-shadow: 0 0 8px 0 dodgerblue;
  transition: 0.2s;
}
/* clear all button */
.inputContainer .clearAll {
  color: red;
  font-size: 1.2rem;
  height: 2.1rem;
  width: 5rem;
}
[contenteditable] {
  outline: 0px solid transparent;
}
/* js html element ul note li  */
.note {
  position: relative;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.2rem;
  margin: 1rem auto;
  height: 2rem;
  width: 24rem;
  box-shadow: 1px 1px 6px 0 #00000070, -1px -1px 3px 0 #ffffff40;
  padding: 0.6rem;
}

.liTag {
  color: blue;
  font-size: 1.2rem;
}
.liTagInput:checked + span {
  text-decoration: line-through;
  color: red;
}

.note .button {
  position: absolute;
  height: 1.5rem;
  width: 1.9rem;
  font-size: 1rem;
}
button > * {
  pointer-events: none;
}

.note #editToDo,
#saveToDo {
  margin: 0 0 0 27rem;
  color: green;
}
#saveToDo {
  display: none;
}
.note #deleteToDo {
  color: red;
  margin: 0 0 0 24rem;
}
.note #editToDo:hover {
  color: white;
  background-color: green;
}
.note #saveToDo:hover {
  color: white;
  background-color: green;
}
.note #deleteToDo:hover {
  color: white;
  background-color: red;
}
@media (max-width: 80rem) {
  #heading-of-todos {
    font-size: 1.9rem;
  }
  #today {
    all: unset;
  }
  #day-date {
    all: unset;
    display: inline;
    margin: 3rem 5rem 0 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 50rem) {
  #title-of-todos {
    width: 100%;
  }
  body {
    color: green;
  }
  .note {
    margin: 1rem 1rem;
  }
  .inputContainer .clearAll {
    font-size: 0.7rem;
    width: 3rem;
    height: 2rem;
  }
  #heading-of-todos {
    font-size: 1.9rem;
  }
  #today {
    all: unset;
  }
  #day-date {
    all: unset;
    display: inline;
    margin: 3rem 5rem 0 0;
    font-size: 1.5rem;
  }
  .inputContainer input[type="text"] {
    height: 2rem;
    width: 17rem;
  }
}
@media (max-width: 30rem) {
  #title-of-todos {
    width: 100vw;
  }
  body {
    color: yellow;
  }
  #heading-of-todos {
    font-size: 1.3rem;
    margin: 2rem 1rem 2rem 0.5rem;
  }
  #heading-of-todos i {
    font-size: 1rem;
    padding: 0.5rem;
  }
  #today {
    all: unset;
  }
  #day-date {
    all: unset;
    display: inline;
    margin: 3.5rem 1rem 0.1rem 0.1rem;
    font-size: 1rem;
  }

  .inputContainer input[type="text"] {
    height: 2rem;
    width: 17rem;
  }
  #addToDo {
    width: 3rem;
  }
  .inputContainer .clearAll {
    width: 4rem;
    height: 1.9rem;
    font-size: 0.9rem;
  }
  .note {
    margin: 1rem 0.2rem;
    width: 21rem;
  }
  .note #editToDo,
  #saveToDo {
    margin: 0 20.5rem;
    color: green;
  }
  .note #deleteToDo {
    margin: 0 23rem;
  }
}
@media (max-width: 25rem) {
  #title-of-todos {
    width: 100%;
  }
  body {
    color: pink;
    width: 100%;
  }
  #heading-of-todos {
    font-size: 1.2rem;
  }
  #today {
    all: unset;
  }
  #day-date {
    all: unset;
    display: inline;
    margin: 3rem;
    font-size: 1.2rem;
  }

  .inputContainer input[type="text"] {
    height: 2rem;
    width: 17rem;
  }
  #addToDo {
    width: 2rem;
  }
  .inputContainer .clearAll {
    font-size: 0.8rem;
    margin: 1rem auto;
    display: block;
  }
}
@media (max-width: 20rem) {
  body {
    color: purple;
  }
  .note {
    width: 12rem;
  }
  #heading-of-todos {
    font-size: 1.4rem;
    padding: 1rem;
  }
  #day-date {
    font-size: 1rem;
  }
  .inputContainer input[type="text"] {
    height: 2rem;
    width: 13rem;
  }
  #addToDo {
    width: 2rem;
  }
  .inputContainer .clearAll {
    width: 4rem;
    height: 1.4rem;
    font-size: 0.9rem;
    margin: 1rem auto;
    display: flex;
  }
  .note {
    margin: 1rem 0.2rem;
    width: 14rem;
  }
  .note #editToDo,
  #saveToDo {
    margin: 0 13.6rem;
    color: green;
  }
  .note #deleteToDo {
    margin: 0 16rem;
  }
}
